{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.services }}
{{ .modalID }}
<div class="portfolio-modal modal fade" id="{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        {{ with .title }}
                            <h2>{{ . }}</h2>
                        {{ end }}
                        {{ if and .title .description }}
                            <hr class="star-primary">
                        {{ end }}
                        {{ if .img }}
                            <img src="img/projects/{{ .img }}" class="img-responsive img-centered img-modal-header" alt="">
                        {{ end }}
                        {{ with .description }}
                            <div class="text text-left">
                                <p>{{ . | markdownify }}</p>
                            </div>
                        {{ end }}
                        {{ with $.Site.Params.portfolio.modal.buttonText }}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{.}}</button>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
