<section class="no-padding bg-primary" id="portfolio">
    {{ if .Site.Params.portfolio.headline }}
        {{ with .Site.Params.portfolio.headline }}
            <br>
            <br>
            <h2 class="section-heading text-center">{{ . }}</h2>
            <hr class="light">
            <br>
        {{ end }}
    {{ end }}
    <div class="container-fluid">
        <div class="row no-gutter">
            {{ range .Site.Data.projects }}
                <div class="col-lg-4 col-sm-6">
                    <a href="#portfolioModal{{ .modalID }}" class="portfolio-box portfolio-link" data-toggle="modal">
                        <img src="img/projects/{{ .img }}" class="img-responsive" alt="">
                        {{ if .title }}
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    {{ with .title }}
                                        <div class="project-name">
                                            {{ . }}
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        {{ end }}
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
    <div class="text-center">
        {{ with .Site.Params.portfolio.buttonText }}
            <br>
            <a href="#contact" class="btn btn-default btn-xl page-scroll">{{ . }}</a>
            <br>
            <br>
            <br>
        {{ end }}
    </div>
</section>
